[submodule "3rdparty/collcachelib"]
	path = 3rdparty/collcachelib
	url = git@ipads.se.sjtu.edu.cn:gnn/collcachelib.git
[submodule "3rdparty/dgl"]
	path = 3rdparty/dgl
	url = https://ipads.se.sjtu.edu.cn:1312/gnn/dgl.git/
